<div class="container hero">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
            <h2>Content</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h5>Page Daily</h5>
            <ul class="unstyled">
                <li><a href="http://www.pagedaily.com/jewelry-trend-spring-2011/" target="_blank">Jewelry Trend for Spring: Fall In Love With Fabric (And More)</a></li>
                <li><a href="http://www.pagedaily.com/red-carpet-jewelry-from-oscar-fashion-look%E2%80%94for-less/" target="_blank">Get the Oscars Red-Carpet Jewelry Looks For Less</a></li>
                <li><a href="http://www.pagedaily.com/must-have-fashion-accessories-fall-2011/" target="_blank">On Sale Now, Wear It Later</a></li>
                <li><a href="http://www.pagedaily.com/resort-wear-safari-style-fashion/" target="_blank">Resort Wear for Less: Go Wild on Vacation with Safari-Style Fashion</a></li>
                <li><a href="http://www.pagedaily.com/fashion-designer-kaelen/" target="_blank">Up &amp; Coming Designer Brand: Kaelen</a></li>
                <li><a href="http://www.pagedaily.com/madame-mathilde-fun-fashion-accessories/" target="_blank">Up &amp; Coming Fashion Accessories: Madame Mathilde</a></li>
                <li><a href="http://www.pagedaily.com/designer-clothes-less/" target="_blank">From Givenchy to Miu Miu to Balenciaga, Designer Finds for Less Than $100</a></li>
                <li><a href="http://www.pagedaily.com/best-fashion-designer-favorite-websites/" target="_blank">Fashion Designers &amp; Their Favorite Websites</a></li>
                <li><a href="http://www.pagedaily.com/bedazzle-your-world/" target="_blank">Bedazzle Your World: Rhinestone-Covered Everyday Items from $4</a></li>
                <li><a href="http://www.pagedaily.com/giuliana-rancic-dishes-about-her-addictions-secret-weapons-bill/" target="_blank">Giuliana Rancic Dishes about Her Addictions, Secret Weapons &amp; Bill</a></li>
                <li><a href="http://www.pagedaily.com/cocktail-rings/" target="_blank">Top 10 Cocktail Rings under $300: The Must-Have Holiday Accessory</a></li>
                <li><a href="http://www.pagedaily.com/new-designer-denim-jeans-label-decades-denim/" target="_blank">New Designer Denim Jeans Label: Decades Denim</a></li>
                <li><a href="http://www.pagedaily.com/new-jewelry-designer-venessa-arizaga/" target="_blank">New Jewelry Designer: Venessa Arizaga</a></li>
                <li><a href="http://www.pagedaily.com/nicky-hilton-interview-11-15-10/" target="_blank">Nicky Hilton: Her Latest Design Venture and More!</a></li>
                <li><a href="http://www.pagedaily.com/winter-coats-2010/" target="_blank">Winter Coats as Fashionable as Your Wardrobe</a></li>
                <li><a href="http://www.pagedaily.com/otob-metallic/" target="_blank">On Trend &amp; On Budget: Metallic Shimmer Under $70</a></li>
                <li><a href="http://www.pagedaily.com/up-and-coming-designers-coco-and-breezy-and-carmelita/" target="_blank">Up &amp; Coming Fashion Designer Lines with a Sexy Edge: Carmelita Couture and Coco &amp; Breezy</a></li>
                <li><a href="http://www.pagedaily.com/up-and-coming-designers-whitney-port/" target="_blank">Star of MTV Reality Series Turns Fashion Designer: Whitney Port</a></li>
                <li><a href="http://www.pagedaily.com/otob-shoes-fall/" target="_blank">Fall’s Hottest Shoes, Each Under $50: On Trend &amp; On Budget</a></li>
                <li><a href="http://www.pagedaily.com/celebrity-closet-kate-moss/" target="_blank">Celebrity Closet: Get the Kate Moss Look</a></li>
                <li><a href="http://www.pagedaily.com/celebrity-closet-tshirts/" target="_blank">Celebrity Closet: T-Shirt Edition</a></li>
                <li><a href="http://www.pagedaily.com/molly-sims/" target="_blank">Glam Model/Actress Molly Sims Reveals Everything from Beauty Secrets to Guilty Pleasures</a></li>
                <li><a href="http://www.pagedaily.com/up-and-coming-designers-07-26-10/" target="_blank">Up-and-Coming Designers Katie Gallagher and Amanda Eufer</a></li>
                <li><a href="http://www.pagedaily.com/celebrity-closet-sunglasses/" target="_blank">Celebrity Closet: Sunglasses Edition</a></li>
                <li><a href="http://www.pagedaily.com/celebrity-closet-jewelry/" target="_blank">Celebrity Closet: Jewelry Edition</a></li>
                <li><a href="http://www.pagedaily.com/up-and-coming-designers/" target="_blank">Up and Coming Designers</a></li>
                <li><a href="http://www.pagedaily.com/whats-your-sex-and-the-city-style-are-you-a-carrie/" target="_blank">What’s Your Sex and the City Style? Are You a Carrie?</a></li>
                <li><a href="http://www.pagedaily.com/celebrity-closet-denim-edition/" target="_blank">Celebrity Closet: Denim Edition</a></li>
                <li><a href="http://www.pagedaily.com/the-hottest-beauty-products-this-season/" target="_blank">The Hottest Beauty Products This Season</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <h5>Localeur</h5>
                    <ul class="unstyled">
                        <li><a href="https://www.localeur.com/recommendations/new-york-city/top-rated-ethnic-desserts-in-nyc" target="_blank">Top-Rated Ethnic Desserts In NYC</a></li>
                        <li><a href="https://www.localeur.com/recommendations/new-york-city/must-see-shopping-in-nyc" target="_blank">Must See Shopping in NYC</a></li>
                        <li><a href="https://www.localeur.com/recommendations/new-york-city/lip-smacking-good-bar-food-in-nyc" target="_blank">Lip-Smacking Good Bar Food in NYC</a></li>
                        <li><a href="https://www.localeur.com/recommendations/new-york-city/guide-to-manhattans-best-souvenir-and-gift-shops" target="_blank">Guide to Manhattans Best Souvenir &amp; Gift Shops</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h5>Sites I've Helped Build</h5>
                    <ul class="unstyled">
                        <li><a href="http://www.theimpression.com" target="_blank">The Impression</a></li>
                        <li><a href="http://www.bindyany.com" target="_blank">Binda NY</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h5>Personal Brand</h5>
                    <ul class="unstyled">
                        <li><a href="http://www.kissandwear.com" target="_blank">Kiss &amp; Wear</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".articles-nav").addClass("active"); 
</script>