<div class="container hero">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-6 col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
            <h2>Design</h2>
            <hr>
        </div>
    </div>
    <div class="row spaced">
        <div class="col-lg-10 col-lg-offset-1">
            <img src="images/design/petal_perfection.jpg" class="image-fill"/>
        </div>
    </div>
    <div class="row spaced">
        <div class="col-lg-10 col-lg-offset-1">
            <img src="images/design/sunday_best.jpg" class="image-fill"/>
        </div>
    </div>
    <div class="row spaced">
        <div class="col-lg-10 col-lg-offset-1">
            <img src="images/design/o_magazine.jpg" class="image-fill"/>
        </div>
    </div>
    <div class="row spaced">
        <div class="col-lg-10 col-lg-offset-1">
            <img src="images/design/stylish_shades.jpg" class="image-fill"/>
        </div>
    </div>
    <div class="row spaced">
        <div class="col-lg-10 col-lg-offset-1">
            <img src="images/design/knits.jpg" class="image-fill"/>
        </div>
    </div>
    <div class="row spaced">
        <div class="col-lg-10 col-lg-offset-1">
            <img src="images/design/test_master.jpg" class="image-fill"/>
        </div>
    </div>
    <div class="row spaced">
        <div class="col-lg-10 col-lg-offset-1">
            <img src="images/design/spring_accessories.jpg" class="image-fill"/>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".design-nav").addClass("active"); 
</script>